@{
    Layout = null;

}

<head>
    <title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Template/SidePanel/css/style.css" rel="stylesheet" />
</head>
<body>




    <div class="wrapper d-flex align-items-stretch">
        @Html.Partial("_SidePanel")
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Apartments</h2>
            <div class="row">
                @for (int i = 0; i < 20; i++)
                {

                    using (Html.BeginForm("Apartment", "Home",
                       new { id =5 }, FormMethod.Get, null))
                    {
                        <div class="col-md-3">
                            <img src="~/Images/hostBG.jpg" width="280px" height="280px" />
                            <h5>Title</h5><span style="display:inline-block">$100/day</span>
                            <p>Short Address</p>
                        </div>

                    }
                }
            </div>


        </div>
    </div>

    <script src="~/Template/SidePanel/js/jquery.min.js"></script>
    <script src="~/Template/SidePanel/js/popper.js"></script>
    <script src="~/Template/SidePanel/js/bootstrap.min.js"></script>
    <script src="~/Template/SidePanel/js/main.js"></script>
</body>
