
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/Index"
                       aria-expanded="false">
                        <i class="mdi mdi-av-timer"></i>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/Profile"
                       aria-expanded="false">
                        <i class="mdi mdi-account-network"></i>
                        <span class="hide-menu">Profile</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/GuestPost"
                       aria-expanded="false">
                        <i class="mdi mdi-page-first"></i>
                        <span class="hide-menu">Guest Post</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/ApartmentPost"
                       aria-expanded="false">
                        <i class="mdi mdi-page-first"></i>
                        <span class="hide-menu">Apartment Post</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/OfficePost"
                       aria-expanded="false">
                        <i class="mdi mdi-page-first"></i>
                        <span class="hide-menu">Office Post</span>
                    </a>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/AllPost"
                       aria-expanded="false">
                        <i class="mdi mdi-border-none"></i>
                        <span class="hide-menu">All Post</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/Notification"
                       aria-expanded="false">
                        <i class="mdi mdi-notification-clear-all"></i>
                        <span class="hide-menu">Notification</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/Transaction"
                       aria-expanded="false">
                        <i class="mdi mdi-cash"></i>
                        <span class="hide-menu">Transaction</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../Host/Reviews"
                       aria-expanded="false">
                        <i class="mdi mdi-face"></i>
                        <span class="hide-menu">Reviews</span>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>